#pastas:
.vscode/

#ficheiros
Icon?
.DS_Store
*.dSYM
*.warnings
*.swp
core
*.out
output
.gdb_history
proj.zip

#exec:
foo*
*.o
test
tecnicofs-mutex
tecnicofs-nosync
tecnicofs-rwlock
client-api-test-create
client-api-test-delete
client-api-test-read
client-api-test-success
client-killer
