#pastas:
.vscode/

#ficheiros
Icon?
.DS_Store
*.dSYM
*.warnings
*.swp
core
*.out
output
.gdb_history

#exec:
foo*
*.o
test
tecnicofs-mutex
tecnicofs-nosync
tecnicofs-rwlock
client-api-test-create.sh
client-api-test-delete.sh
client-api-test-read.sh
client-api-test-success.sh